<div class="photo-contianer">
  <div class="upload-photo">
      <button mat-raised-button (click)="openAddPhotoDialog()"><mat-icon>add</mat-icon>New Photo</button>
  </div>
  @for (photo of user().photos; track photo.id) {
      <mat-card class="example-card" appearance="outlined">
          <mat-card-header>
            <p> {{photo.created_at | timeago:true}}</p>
          </mat-card-header>
          <img mat-card-image src="{{photo.url}}" alt="photo of {{user().display_name}}" class="img-thumb">
          <mat-card-actions align="end">
            <p *ngIf="photo.is_avartar" class="avartar"><mat-icon>verified</mat-icon>Avartar</p>
            @if(photo.is_avartar === false){
                <button class="set-avartar" mat-button (click)="setAvartar(photo.id)">Set as Avatar</button>
                <button class="deletePhoto" mat-button (click)="deletePhoto(photo.id)">Delete</button>
            }
          </mat-card-actions>
        </mat-card>
      }

</div>