<mat-toolbar>
    <button class="home-button" routerLink="/404" routerLinkActive="router-link-active" >
        <span>Tinner</span>
    </button>
    <!-- <span>My App</span> -->
    <span class="my-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>